.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.4rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  border-radius: 50%;
}

.brand-name {
  font-family: Helvetica;
  font-size: large;
}
