

.divider {
  display: none;
}

/* Responsive padding for the main container */
@media (max-width: 576px) {
  .post-content-container {
    padding: 20px 15px !important;
  }

  .featured-image {
    height: 250px !important;
  }
}

@media (max-width: 400px) {
  .divider {
    display: block;
  }

  .meta-divider-left {
    display: none;
  }
}
